.section-map__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    box-shadow: 5px 5px 25px #E7D8C7;
    border-radius: 40px;
}

@media screen and (max-width: 920px) {
    .section-map__content {
        flex-direction: column;
        row-gap: 25px;
    }
    
}